.main-admin-banner{
    width: auto;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    height: 25%;
    background-color: #0c2c48;
    border-radius: 16px;
    color: #fff;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
    box-shadow: 3px 6px rgba(22, 163, 219, 0.2);
}

.main-admin-body-news-add{
    width: auto;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    height: 25%;
    background-color: #0c2c48;
    border-radius: 16px;
    color: #fff;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
    box-shadow: 3px 6px rgba(22, 163, 219, 0.2);
}

.main-admin-body-news{
    width: 70vh;
}