.auth {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-40%, -2%);
    width: 35em;
    max-width: 35em;
    padding: 0.5em;
    background-color: #0c2c48;
    height: auto;
    border-style: groove;
    border-radius: 2em;
    margin-bottom: 5em;
  }

  .auth h1{
    color: #fff;
    margin-bottom: 0.5em;
  }

  .auth h4{
    color: #fff;
  }

  label{
    color: #fff;
  }

.top-auth{
    height: 90vh;
}

.auth button{
  margin: 1em;
}

.bg-auth{
    height: 100%;
    background-image: url('../assets/haw.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.auth input[type=text], input[type=password] {
    width: 75%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-style: groove;
    border: #9b9393;
    border-color: blueviolet;
    border-radius: 2em;
  }