.bibService {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.bibServiceTable{
    width: 100%;
}


.bibServiceTable table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-right: 20%;
    margin-bottom: 0em;
    margin-left: 0em;
    position: relative;
}


.bibService table td {
    width: 200px;
    height: 30px;
    background-color: rgb(54, 135, 211);
    text-align: center;
    color: white;
}

.bibService table td button {
    padding: 5px 10px;
    border-radius: 5%;
    cursor: pointer;
}
.bibService table td button.edit {
    border: 1px solid green;
    background-color: rgb(7, 168, 7);
    color: white;
}
.bibService table td button.edit:hover {
    background-color: rgb(3, 71, 3);
}
.bibService table td button.delete {
    border: 1px solid red;
    background-color: rgb(219, 19, 19);
    color: white;
}

.bibService table td button.extend {
    border: 1px solid rgb(255, 174, 0);
    background-color: rgb(255, 174, 0);
    color: white;
}

.bibService table td button.delete:hover {
    background-color: rgb(92, 5, 5);
}

.bibService .addForm {
    width: 70vw;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    position: relative;
    margin-bottom: 1em;
}

.bibService .addForm input {
    width: 230px;
    height: 30px;
}

.bibService .addForm button {
    width: 135px;
    color: white;
    height: 35px;
    background-color: rgb(31, 171, 31);
}
.bibService .addForm button:hover {
    background-color: rgb(5, 86, 5);
} 