@keyframes colorChange {
    0% {
      color: white;
    }
    33% {
      color: #b300b3; /* lila */
    }
    66% {
      color: black;
    }
    100% {
      color: white;
    }
  }
  
  .logo {
    position: relative;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    animation: colorChange 9s infinite;
  }
  
  