.KurseMain .KurseTitle{    
  height: 15em;
  width: auto;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.KurseMain{
  width: 100%;
  height: 100%;
  padding-bottom: 5em;
}

.semItem {
  border-radius: 15px;
  width: 300px;
  height: 20em;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background-color: #0c2c48;
}



.KurseMain h1{
  margin-left: 0.5em;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 60px;
  font-weight: 50;
  color: #fff;
  position:relative;
  text-align: start;
  
}

.KurseMain h2{
  margin-left: 0.8em;
  padding: 0;
  font-size: 30px;
  font-weight: lighter;
  color: #fff;
  text-align: start;
  margin-top: 2.5em;
}

.semesterList {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  position:relative;
}


/* MENU ITEM STYLING */




.semItem .semTitle {
  position: relative;
  font-size: 3rem;
  animation: colorChange 9s infinite;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 20%;
  text-decoration: none;
}


.semItem .semTitle .letter{
  display: inline-block;
  transform-origin: center center -50px;
  animation: showLetter 1s ease forwards;
  animation-delay: calc(var(--delay) * 0.2s);
}


.semItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.planItem h1{
  font-size: 15px;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0em;
  text-decoration: none;
}

.semItem p{
  font-size: 14px;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
}

@media only screen and (max-width: 1300px) {
  .semesterList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .semesterList {
    grid-template-columns: 1fr;
  }
}