.navbar {
  height: 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c2c48;
  padding: 10px;
}

.leftSide {
  flex: 1;
}
.leftSide img{
  height: 10em;
}

.midSide {
  flex: 2;
  display: flex;
  justify-content: center;
}

.midSide a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

.rightSide {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.rightSide a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .leftSide, .rightSide {
    width: 100%;
    text-align: center;
  }

  .leftSide img{
    height: 4em;
  }

  .midSide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .midSide a {
    margin: 5px;
  }
}

@media (max-width: 870px) {
  .navbar {
    flex-direction: column;
  }

  .leftSide{
    font-size: 0.5em;
  }

  .leftSide, .rightSide {
    width: 100%;
    text-align: center;
  }

  .midSide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .midSide a {
    margin: 5px;
  }
}

@media (max-width: 1040px) {
  .navbar {
    flex-direction: column;
  }

  .leftSide{
    font-size: 0.5em;
  }
  
  .leftSide img{
    height: 4em;
  }

  .leftSide, .rightSide {
    width: 100%;
    text-align: center;
  }

  .midSide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .midSide a {
    margin: 5px;
  }
}

@media (max-width: 1200px) {
  .navbar {
    height: 13em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .leftSide {
    flex: 1;
    font-size: 1.5em;
  }

  .leftSide img{
    width: 10em;
    height: 4em;
  }
  
  .midSide {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  .midSide a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .rightSide {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .rightSide a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
  }
  
  button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}   
