.infoAnzeige{
    position: relative;
    float: right;
    max-height: 5em;
    height: 100%;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgb(12,44,72);
    border-radius: 16px;

    padding: 1px 1px;

    color: #FFF;
    font-size: 2em;
    font-weight: 900;

    text-align: center;
    box-shadow: 3px 6px rgba(22, 163, 219, 0.2);
}


.infoAnzeige h1{
    padding: 0em;
    margin: 0em;
    font-size: 1em;
    color: #FFF;
}

.infoAnzeige p{
    font-size: 0.5em;
    padding: 0em;
    margin: 0em;
    color: #FFF;
}

.infoAnzeige .zeitAnzeige{
    font-size: 0.5em;
    padding: 0em;
    margin-top: 0em;
    color: #FFF;
}